@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

main {
  font-family: 'Inter', sans-serif;
  color: #172b4d;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav {
  position: fixed;
  width: 100vw;
}

li {
  padding: 20px;
}

section {
  background: url("../images/Header-llustration-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  text-align: center;
}

article h2 {
  font-size: 48px;
}

.light-green {
  color: #36b37e;
}

.only-mobile {
  display: none;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.social-medias ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.social-medias ul li {
  padding: 10px;
}

/* for mobile screen */
@media only screen and (max-device-width: 480px) {
  .only-desktop {
    display: none;
  }

  .only-mobile {
    display: flex;
  }

  header {
    justify-content: space-between;
    padding: 10px 20px;
  }

  section {
    background: url("../images/header-illsutration-mobile.svg");
    background-position: center;
    background-size: cover;
    height: auto;
  }

  main {
    padding: 10px;
  }

  article h2 {
    font-size: 35px;
  }

  article {
    padding: 50px 40px;
  }

  header h1 {
    font-size: 25px;
    font-weight: 500;
  }

  article p {
    font-size: 17px;
    font-weight: 400;
    padding-top: 20px;
  }
}
