@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --color-primary: #36b37f;
  --color-primary-darker: #008552;
  --color-blue: #1e488f;
  --color-blue-darker: #0a2759;
  --color-red: #ff6163;
  --color-red-darker: #dd5153;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
}

main {
  font-family: "Inter", sans-serif;
  color: #172b4d;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav {
  position: fixed;
  width: 100vw;
}

li {
  padding: 20px;
}

.headline {
  background: url("../images/header-illsutration-mobile.svg");
  background-position: center;
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headline article {
  text-align: center;
  padding: 20px 40px;
}

.light-green {
  color: #36b37e;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.social-medias ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.social-medias ul li {
  padding: 10px;
}

.works {
  display: grid;
  gap: 24px;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.project-container {
  display: grid;
  gap: 24px;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.headline article h1 {
  font-size: 35px;
}

header .mobile-header h1 {
  font-size: 22px;
  font-weight: 500;
}

main .works h1 {
  text-align: center;
  font-size: 38px;
  line-height: 52px;
}

main .works h1,
.about .about-me-description h1 {
  text-align: center;
  font-size: 48px;
  line-height: 52px;
}

.project {
  display: flex;
  border: 1px solid #d0d9d4;
  flex-direction: column;
  border-radius: 8px;
  width: 90vw;
  overflow: hidden;
}

.image-container img {
  height: 262px;
  width: 327px;
}

.project ul {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 0;
  flex-wrap: wrap;
}

.project ul li {
  list-style: none;
  padding: 5px;
}

.btn-primary {
  height: 48px;
  background: #36b37e;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 12px;
}

.btn-secondary {
  border: none;
  background: #ebf0ee;
  color: #3a4a42;
  border-radius: 4px;
  padding: 8px 12px;
  height: 32px;
}

.desctiption {
  margin-top: -10px;
  border-radius: 8px;
  border-top: 1px solid #d0d9d4;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.project .desctiption h4,
.about .skills-container .skills-description h4 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  margin: 10px;
}

.about-me-description {
  text-align: center;
}

.skills-container {
  padding: 30px 0;
  display: grid;
  gap: 24px;
}

.skills {
  border: 1px solid #c1c7d0;
  text-align: center;
  background: #ebf0ee;
  border-radius: 8px;
  height: 352px;
}

.skills-icon {
  padding: 40px;
}

.skills-description ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.skills-description ul li {
  padding: 8px;
}

.btn-disabled {
  background: #fff;
  color: #36b37e;
  border: none;
  border-radius: 8px;
  padding: 12px;
  height: 40px;
}

.skills img {
  border-radius: 50%;
  padding: 20px;
  background: #fff;
}

/* for mobile screen */

.only-desktop {
  display: none;
}

.only-mobile {
  display: flex;
}

.headline article p,
.about .about-me-description p {
  font-size: 17px;
  font-weight: 400;
  padding: 20px 0;
  line-height: 28px;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.headline .section-title p {
  font-size: 35px;
  font-weight: 700;
  line-height: 52px;
  padding: 0;
}

.headline-btn {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  display: flex;
  background: #fff;
  padding: 10px;
}

.indicator {
  border: 1px solid #36b37e;
  background: #36b37e;
  width: 50px;
  height: 2px;
  border-radius: 2px;
  margin-bottom: 62px;
  margin-top: -30px;
}

.about .about-me-description p {
  padding-top: 0;
}

.contact h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.contact-container {
  background-image: url(../images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: right bottom 180px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form input,
textarea {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 16px 15px;
  background-color: transparent;
}

.contact-form textarea {
  font-family: "Inter", sans-serif;
  resize: vertical;
  height: 114px;
  border: 1px solid #60c095;
}

.email-address {
  text-align: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  margin-top: 0;
  height: 189px;
  margin-bottom: 147px;
}

.contact ul {
  padding: 0;
  margin-bottom: 0;
}

.btn:enabled {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:active {
  background: var(--color-primary-darker);
  color: var(--color-white);
}

.btn:disabled {
  color: #3a4a42;
  background: #ebf0ee;
}

.btn-form-submit {
  /* width: 129px; */
  align-self: center;
}

@media screen and (min-width: 600px) {
  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  nav {
    top: 0;
    background: #fff;
  }

  .headline {
    background: url("../images/Header-llustration-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  .headline article {
    width: 60vw;
    margin-top: -20vh;
    animation-name: bottomToTop;
    animation-duration: 2s;
  }

  @keyframes bottomToTop {
    from {
      transform: translateY(-1000px);
    }

    to {
      transform: translateY(0);
    }
  }

  .headline article h1 {
    font-size: 48px;
    line-height: 52px;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .project {
    width: 369px;
  }

  .about-me-description {
    padding: 0 15vw;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills {
    width: 369px;
  }

  .contact {
    display: flex;
    justify-content: center;
    padding: 100px 0 320px 0;
  }

  .contact h2 {
    font-size: 30px;
    line-height: 52px;
  }

  .contact form {
    width: 50%;
  }

  .contact .text-container {
    width: 30%;
    padding: 0 10px;
  }

  .footer {
    border-top: 1px solid #dfe1e6;
  }

  .top-left-background {
    position: absolute;
    left: 0;
    width: 150px;
    padding-top: 100px;
  }

  .top-right-background {
    position: absolute;
    right: 0;
    width: 150px;
    margin-top: -30px;
  }

  .bottom-left-background {
    position: absolute;
    left: 0;
    padding-top: 300px;
  }

  .bottom-right-background {
    position: absolute;
    right: 0;
    width: 150px;
    padding-top: 300px;
  }

  .bottom-center-background {
    position: absolute;
    padding-top: 450px;
    margin-left: -200px;
  }

  .project img {
    margin: 0;
    transition: margin 1s;
  }

  .project img:hover {
    margin: -20px;
  }
}
